.row {
  display: flex;
}

.column {
  margin: 5px;
  padding: 5px;
  background: hsl(0, 0%, 95%);
  border-radius: 0.5rem;
}

.column img {
  border-radius: 0.5rem;
  width: 100%;
}

.clickable:hover {
  background: hsl(0, 0%, 90%);
}
